In [1]:
import pandas as pd

In [2]:
# Đọc file dữ liệu
path = 'liquor.csv'
df = pd.read_csv(path)
df.head()

C:\Users\Admin\AppData\Local\Temp\ipykernel_1324\1016263178.py:3: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(path)

,Invoice/Item Number,Date,Store Number,Store Name,Address,City,Zip Code,Store Location,County Number,County,...,Item Number,Item Description,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,S29198800001,11/20/2015,2191,Keokuk Spirits,1013 MAIN,KEOKUK,52632,"1013 MAIN\nKEOKUK 52632\n(40.39978, -91.387531)",56.0,Lee,...,297,Templeton Rye w/Flask,6,750,$18.09,$27.14,6,$162.84,4.50,1.19
1,S29195400002,11/21/2015,2205,Ding's Honk And Holler,900 E WASHINGTON,CLARINDA,51632,"900 E WASHINGTON\nCLARINDA 51632\n(40.739238, ...",73.0,Page,...,297,Templeton Rye w/Flask,6,750,$18.09,$27.14,12,$325.68,9.00,2.38
2,S29050300001,11/16/2015,3549,Quicker Liquor Store,1414 48TH ST,FORT MADISON,52627,"1414 48TH ST\nFORT MADISON 52627\n(40.624226, ...",56.0,Lee,...,249,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,20,150,$6.40,$9.60,2,$19.20,0.30,0.08
3,S28867700001,11/04/2015,2513,Hy-Vee Food Store #2 / Iowa City,812 S 1ST AVE,IOWA CITY,52240,812 S 1ST AVE\nIOWA CITY 52240\n,52.0,Johnson,...,237,Knob Creek w/ Crystal Decanter,3,1750,$35.55,$53.34,3,$160.02,5.25,1.39
4,S29050800001,11/17/2015,3942,Twin Town Liquor,104 HIGHWAY 30 WEST,TOLEDO,52342,"104 HIGHWAY 30 WEST\nTOLEDO 52342\n(41.985887,...",86.0,Tama,...,249,Disaronno Amaretto Cavalli Mignon 3-50ml Pack,20,150,$6.40,$9.60,2,$19.20,0.30,0.08

In [3]:
df.shape

(12591077, 24)

In [4]:
print(df['Date'].dtype)

object

In [5]:
# Định dạng lại ngày tháng năm và lấy ra ngày sớm nhất và muộn nhất
df['Date'] = pd.to_datetime(df['Date'])
print('Ngày sớm nhất: ', df['Date'].min())
print('Ngày muộn nhất: ', df['Date'].max())

Ngày sớm nhất:  2012-01-03 00:00:00
Ngày muộn nhất:  2017-10-31 00:00:00

In [6]:
# Lọc dữ liệu trước năm 2016
df = df[df['Date'].dt.year < 2016]
print('Ngày sớm nhất: ', df['Date'].min())
print('Ngày muộn nhất: ', df['Date'].max())

Ngày sớm nhất:  2012-01-03 00:00:00
Ngày muộn nhất:  2015-12-31 00:00:00

In [7]:
# Xóa các cột không cần thiết
df = df.drop(['Invoice/Item Number', 'Store Number', 'County Number', 'Item Number', 'Item Description', 'Vendor Number', 'Category'], axis=1)
df.head()

,Date,Store Name,Address,City,Zip Code,Store Location,County,Category Name,Vendor Name,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,2015-11-20,Keokuk Spirits,1013 MAIN,KEOKUK,52632,"1013 MAIN\nKEOKUK 52632\n(40.39978, -91.387531)",Lee,NaN,Wilson Daniels Ltd.,6,750,$18.09,$27.14,6,$162.84,4.50,1.19
1,2015-11-21,Ding's Honk And Holler,900 E WASHINGTON,CLARINDA,51632,"900 E WASHINGTON\nCLARINDA 51632\n(40.739238, ...",Page,NaN,Wilson Daniels Ltd.,6,750,$18.09,$27.14,12,$325.68,9.00,2.38
2,2015-11-16,Quicker Liquor Store,1414 48TH ST,FORT MADISON,52627,"1414 48TH ST\nFORT MADISON 52627\n(40.624226, ...",Lee,NaN,Disaronno International LLC,20,150,$6.40,$9.60,2,$19.20,0.30,0.08
3,2015-11-04,Hy-Vee Food Store #2 / Iowa City,812 S 1ST AVE,IOWA CITY,52240,812 S 1ST AVE\nIOWA CITY 52240\n,Johnson,NaN,Jim Beam Brands,3,1750,$35.55,$53.34,3,$160.02,5.25,1.39
4,2015-11-17,Twin Town Liquor,104 HIGHWAY 30 WEST,TOLEDO,52342,"104 HIGHWAY 30 WEST\nTOLEDO 52342\n(41.985887,...",Tama,NaN,Disaronno International LLC,20,150,$6.40,$9.60,2,$19.20,0.30,0.08

In [8]:
# Loại bỏ các dòng dữ liệu chứa giá trị rỗng
df.dropna(axis=0, inplace=True)
df.isnull().sum()

Date                     0
Store Name               0
Address                  0
City                     0
Zip Code                 0
Store Location           0
County                   0
Category Name            0
Vendor Name              0
Pack                     0
Bottle Volume (ml)       0
State Bottle Cost        0
State Bottle Retail      0
Bottles Sold             0
Sale (Dollars)           0
Volume Sold (Liters)     0
Volume Sold (Gallons)    0
dtype: int64

In [9]:
df.duplicated().sum()

306999

In [10]:
# Xóa dữ liệu trùng lặp
df = df.drop_duplicates()

In [11]:
# Loại bỏ kí hiệu $ và định dạng kiểu dữ liệu các trường
df['Sale (Dollars)'] = df['Sale (Dollars)'].str.replace('$', '') #removing dollar sign
df['State Bottle Retail'] = df['State Bottle Retail'].str.replace('$', '') #removing dollar sign
df['State Bottle Cost'] = df['State Bottle Cost'].str.replace('$', '') #removing dollar sign
df['State Bottle Retail'] = df['State Bottle Retail'].astype('float64')
df['State Bottle Cost'] = df['State Bottle Cost'].astype('float64')
df['Sales'] = df['Sale (Dollars)'].str.strip()
df['Sales'] = df['Sales'].str.replace(',', '')
df['Sales'] = df['Sales'].astype('float64')

In [12]:
# Thêm cột Lợi nhuận trên 1 chai và Lợi nhuận trên tổng số chai
df['State Profit Per Bottle'] = df['State Bottle Retail'] - df['State Bottle Cost']
df['State Profit Total Bottle'] = df['State Profit Per Bottle']*df['Bottles Sold']
df.head()

,Date,Store Name,Address,City,Zip Code,Store Location,County,Category Name,Vendor Name,Pack,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Sales,State Profit Per Bottle,State Profit Total Bottle
6,2015-11-09,Hy-Vee Food Store #3 / Waterloo,1422 FLAMMANG DR,WATERLOO,50702,"1422 FLAMMANG DR\nWATERLOO 50702\n(42.459938, ...",Black Hawk,DECANTERS & SPECIALTY PACKAGES,Duggan's Distillers Products Corp,6,1500,11.62,17.43,6,104.58,9.0,2.38,104.58,5.81,34.86
8,2015-11-30,Hy-Vee Wine & Spirits / Muscatine,"522 MULBERRY, SUITE A",MUSCATINE,52761,"522 MULBERRY, SUITE A\nMUSCATINE 52761\n",Muscatine,DECANTERS & SPECIALTY PACKAGES,Jim Beam Brands,12,750,19.58,29.37,4,117.48,3.0,0.79,117.48,9.79,39.16
13,2015-11-11,"Spirits, Stogies and Stuff",118 South Main St.,HOLSTEIN,51025,118 South Main St.\nHOLSTEIN 51025\n(42.490073...,Ida,DECANTERS & SPECIALTY PACKAGES,Duggan's Distillers Products Corp,6,1500,11.62,17.43,1,17.43,1.5,0.40,17.43,5.81,5.81
18,2015-11-18,J D Spirits Liquor,1023 9TH ST,ONAWA,51040,"1023 9TH ST\nONAWA 51040\n(42.025841, -96.095845)",Monona,CREAM LIQUEURS,MHW Ltd,1,6000,99.00,148.50,1,148.50,6.0,1.59,148.50,49.50,49.50
21,2015-11-23,Hy-Vee Wine and Spirits / Pella,512 E OSKALOOSA,PELLA,50219,"512 E OSKALOOSA\nPELLA 50219\n(41.397023, -92....",Marion,DECANTERS & SPECIALTY PACKAGES,Duggan's Distillers Products Corp,6,1500,11.62,17.43,6,104.58,9.0,2.38,104.58,5.81,34.86

In [13]:
# Thêm các cột ngày, tháng, năm
df['Day'] = df['Date'].dt.day
df['Month'] = df['Date'].dt.month
df['Year'] = df['Date'].dt.year
df.head()

,Date,Store Name,Address,City,Zip Code,Store Location,County,Category Name,Vendor Name,Pack,...,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Sales,State Profit Per Bottle,State Profit Total Bottle,Day,Month,Year
6,2015-11-09,Hy-Vee Food Store #3 / Waterloo,1422 FLAMMANG DR,WATERLOO,50702,"1422 FLAMMANG DR\nWATERLOO 50702\n(42.459938, ...",Black Hawk,DECANTERS & SPECIALTY PACKAGES,Duggan's Distillers Products Corp,6,...,6,104.58,9.0,2.38,104.58,5.81,34.86,9,11,2015
8,2015-11-30,Hy-Vee Wine & Spirits / Muscatine,"522 MULBERRY, SUITE A",MUSCATINE,52761,"522 MULBERRY, SUITE A\nMUSCATINE 52761\n",Muscatine,DECANTERS & SPECIALTY PACKAGES,Jim Beam Brands,12,...,4,117.48,3.0,0.79,117.48,9.79,39.16,30,11,2015
13,2015-11-11,"Spirits, Stogies and Stuff",118 South Main St.,HOLSTEIN,51025,118 South Main St.\nHOLSTEIN 51025\n(42.490073...,Ida,DECANTERS & SPECIALTY PACKAGES,Duggan's Distillers Products Corp,6,...,1,17.43,1.5,0.40,17.43,5.81,5.81,11,11,2015
18,2015-11-18,J D Spirits Liquor,1023 9TH ST,ONAWA,51040,"1023 9TH ST\nONAWA 51040\n(42.025841, -96.095845)",Monona,CREAM LIQUEURS,MHW Ltd,1,...,1,148.50,6.0,1.59,148.50,49.50,49.50,18,11,2015
21,2015-11-23,Hy-Vee Wine and Spirits / Pella,512 E OSKALOOSA,PELLA,50219,"512 E OSKALOOSA\nPELLA 50219\n(41.397023, -92....",Marion,DECANTERS & SPECIALTY PACKAGES,Duggan's Distillers Products Corp,6,...,6,104.58,9.0,2.38,104.58,5.81,34.86,23,11,2015

In [14]:
df.to_csv('New_Liquor_Retail.csv')